<!DOCTYPE html>
<html>
{% include('kamp/header.html.twig') %}
<body>
{% block body %}{% endblock %}
{#
<h1>{{ kamp.title }}</h1>
<ul>
    <li>{{ kamp.title }}</li>
    <li>{{ kamp.description }}</li>
    {#<li>{{ kamp.date }}</li>
    <li>{{ kamp.quote }}</li>
    <li>{{ kamp.image }}</li>
    {% if kamp.spotlight == 0 %}
    <li>Niet in de spotlight</li>
    {% elseif kamp.spotlight == 1 %}
    <li>In de spotlight</li>
    {% endif %}
</ul>

<h2><a href="/kamp/{{ kamp.id }}/edit">Edit</a></h2>

<h2>Reactions</h2>
{% for reaction in reactions  %}
<p>{{ reaction.reaction }} from {{ reaction.name }}</p>
{% endfor %}
<form action="/kamp/react/{{ kamp.id }}" method="post">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="Reaction" name="reaction">
    <button>Submit</button>
</form>
{% block javascripts %}{% endblock %}
#}
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
    <a style="margin-left: 75px;" class="navbar-brand space-brand" href="/">
        <img class="logo" src="{{ asset('images/blozo.png') }}" alt="Blozo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Sportkampen</a>
            </li>
            <li class="nav-item">
                <a style="color: #fff;" class="nav-link" href="#">Contacten</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Zoeken" aria-label="Zoeken">
            <button class="btn btn-info my-2 my-sm-0" type="submit">Zoeken</button>
        </form>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" style="margin-right: 75px;">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="nav-profile-img rounded-circle" src="{{ asset('images/avatar.jpg') }}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Profiel</a>
                    <a class="dropdown-item" href="#">Voeg kamp toe</a>
                    <a class="dropdown-item" href="#">Uitloggen</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="show-article-container p-3 mt-4">
                <div class="row">
                    <div class="col-sm-12">
                        <img class="show-article-img" src="{{ asset('images/krabpaal.png') }}">
                        <div class="show-article-title-container d-inline-block pl-3 align-middle">
                            <span class="show-article-title ">{{ kamp.title }}</span>
                            <br>
                            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('images/alien-profile.png') }}"> Philippe </span>
                            <span class="pl-2 article-details"> 3 uur geleden</span>
                            <span class="pl-2 article-details">
                                    <span id="like-counter">5</span>
                                    <a href="/news/krabpaaljongleren/heart" id="like-heart-button" class="fa fa-heart-o like-article"></a>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="article-text">
                            <p>{{ kamp.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="share-icons mb-5"><span class="pr-1">Delen:</span> <i class="pr-1 fa fa-facebook-square"></i><i class="pr-1 fa fa-twitter-square"></i><i class="pr-1 fa fa-reddit-square"></i><i class="pr-1 fa fa-share-alt-square"></i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3><i class="pr-3 fa fa-comment"></i>3 Reacties</h3>
                        <hr>
                        {#
                        <form action="/kamp/react/{{ kamp.id }}" method="post">
                            <input type="text" placeholder="name" name="name">
                            <input type="text" placeholder="Reaction" name="reaction">
                            <button>Submit</button>
                        </form>

                        #}
                        <div class="row mb-5">
                            <div class="col-sm-12">
                                <img class="comment-img rounded-circle" src="{{ asset('images/astronaut-profile.png')}}">
                                <div class="comment-container d-inline-block pl-3 align-top">
                                    <form action="/kamp/react/{{ kamp.id }}" method="post">
                                        <div class="form-group">
                                            <span class="commenter-name"><input type="text" placeholder="Name" name="name"></span>
                                        </div>

                                    <div class="form-group">
                                        <textarea class="form-control comment-form" id="articleText" name="reaction" rows="1" placeholder="Reaction"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info">Plaats reactie</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% for reaction in reactions  %}
                        <div class="row">
                            <div class="col-sm-12">
                                <img class="comment-img rounded-circle" src="{{ asset('images/alien-profile.png') }}">
                                <div class="comment-container d-inline-block pl-3 align-top">
                                    <span class="commenter-name">{{ reaction.name }}</span>
                                    <br>
                                    <span class="comment"> {{ reaction.reaction }}</span>
                                    <p><a href="#">Reageer</a></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">Gemaakt met <i class="fa fa-heart" style="color: red;"></i> voor gdm.gent (derived from source files from <a href="https://knpuniversity.com">KnpUniversity</a>)</span>
    </div>
</footer>



<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script>
    $('.dropdown-toggle').dropdown();
</script>


</body>
</html>
